<h1 mat-dialog-title>
    {{editingDoctor ?
    'Editing to '+ editingDoctor.name + ' ' + editingDoctor.surname:
    'Creating doctor'}}
</h1>
<div mat-dialog-content>
    <form [formGroup]="doctorForm" class="grid">

        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text" name="name" />
                <mat-error *ngFor="let error of doctorForm.get('name')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Surname</mat-label>
                <input formControlName="surname" matInput type="text" name="surname" />
                <mat-error *ngFor="let error of doctorForm.get('surname')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>


        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" name="email" />
                <mat-error *ngFor="let error of doctorForm.get('email')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Speciality</mat-label>
                <input formControlName="speciality" matInput type="text" name="speciality" />
                <mat-error *ngFor="let error of doctorForm.get('speciality')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Consulting Room</mat-label>
                <input formControlName="consultingRoom" matInput type="text" name="consulting-room" />
                <mat-error *ngFor="let error of doctorForm.get('consultingRoom')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>


        <div class="field col-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" name="password" autocomplete="off" />
                <mat-error *ngFor="let error of doctorForm.get('password')?.errors | keyvalue">
                    {{ error | controlErrorMessages }}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>